.nib-comment_msg {
  width: 150px;
  height: 26px;
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9ebf;
}

.nib-comment_msg:focus {
  outline: none;
}

.nib-highlighted-comment {
  background-color: #ffff5f !important;
}

.nib-comment {
  background-color: #ffff5f42;
}

.nib-highlighted-comment_comp {
  background-color: #ffff5f !important;
}
