.nib_message {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.nib-user-selection {
  display: inline-block;
  position: relative;
  /* animation: blink 0.5s linear infinite; */
}
.nib-user-selection::after {
    content: '';
    min-width: 1px;
    height: 100%;
    background-color: red;
    display: inline-block;
    animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
    /* margin-top: 3px; */
    position: absolute;
    right: 0px;
}
@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}