pre {
  white-space: pre-wrap !important;
}
p code {
  color: #304957 !important;
  white-space: pre !important;
  background-color: #f5f5f5 !important;
  border: 1px #e8e8e8 solid !important;
  border-radius: 3px !important;
}
