.nib-html_btn {
  margin: 20px 0;
  display: block;
}
.nib-html_textarea {
  width: 75%;
  height: 150px;
  border: 1px solid #e0e0e0;
  resize: none;
  font-size: 14px;
}
.nib-html_textarea:focus {
  outline: none;
}
