.nib-html_wrapper {
  position: relative;
  text-align: left;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  padding: 4px;
}
.nib-html_wrapper table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}
.nib-html_wrapper th {
  border: 1px solid #e0e0e0;
}
.nib-html_wrapper td {
  border: 1px solid #e0e0e0;
}
